:root{
    /* My Pallete */
    --primary:#a58445;
    --secondary:#e3b364;
    --tertiary:#ac8c54;
    --quarternary:#565454;
    --quinary:#e5e2dd;

}
/* Viking Font */
/* By: Joel Carrouche */
@font-face{
    font-family: Norse;
    src:url("assets/font/Norse-KaWl.otf") format("opentype");
}
@font-face{
    font-family: NorseBold;
    src:url("assets/font//NorseBold-2Kge.otf") format("opentype");
}
body{
    height:100vh;
    width:100vw;
    margin:0px;
    font-family: Norse,sans-serif;
    overflow: hidden    ;
    background-image:radial-gradient( 
    var(--secondary),
    var(--tertiary));
}
main{
    
    position: absolute;
    height:100vh;
    width:100vw;
    margin:0px;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.preloader{
    z-index: 9999999;
    position: absolute;
    perspective: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(
    var(--primary),
    var(--tertiary)
    );
}
.preloader .loading-icon{
    
    position: absolute;
    height: 75vh;
    
}

.infinite-loading{
    animation: infiniteLoading 5s infinite linear;
}
.zoom-out{
    animation: zoom 5s 1 linear forwards;
}
.preloader .preloader-message{
    font-family: NorseBold;
    color: var(--quinary);
    text-align: center;
    font-size: 4em;
}
.header{
    position: absolute;
    color: var(--quinary);
    font-family: NorseBold,helvetica,sans-serif;
    font-size: 4em;
    margin-top: 10%;
    text-align: center;
    display: inline-block;
    animation: glow 5s infinite;
    text-shadow: 0px 0px 20px;
    transform: rotateX(-30deg);
}
.header:hover{
    color: var(--quarternary);
    text-shadow: 0px 0px 20px ;

    animation-play-state: paused;
}


.hide{
    animation: dissapear 1s 1 linear forwards;

}
.title{
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
.runes{

    margin-bottom: 5%;
    position: absolute;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(-15deg) rotateZ(-5deg);
    animation: rotate 5s infinite;

    animation-timing-function: linear;
    width: 4vw;
    height: 8vh;
}
.rune{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotateY(calc(var(--position)*(360/var(--quantity))*1deg)) translateZ(15vw);

}
.logo {
    position: absolute;
    font-family: NorseBold;
    user-select: none;
}
.logo a{
    text-decoration: none;
    color: var(--quarternary);
    display: flex;  
    align-items: center;
    font-size: 2em;
}
.logo img{
    height: 7vh;
}
.model{
    text-align: center;
    transform: translateY(10vh);
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.model .gungnir{
    transform: translateY(-20vh);
    height: 60vh;
    animation: float 5s infinite ease-in-out;
}
.model .eye{
    height: 40vh;
    transform: rotateZ(-15deg);
    animation: throb 10s infinite ease-in-out;
}
.model .odin{
    height:60vh;
}
.timeStop{
    animation-play-state: paused !important;
    filter: blur(3px) grayscale(1);
}
@keyframes rotate{
    50%{
        transform: perspective(1000px) rotateX(-15deg) rotateZ(5deg) rotateY(180deg);
    }
    100%{
        transform: perspective(1000px) rotateX(-15deg) rotateZ(-5deg) rotateY(360deg);
    }
}
@keyframes glow{
    50%{
        transform: scale(1.05) rotateX(30deg);
        text-shadow: 0px 0px 10px ;
    }

}
@keyframes dissapear{
    to{
        display: none;
        opacity: 0;
    }
}

@keyframes infiniteLoading{

    to{
        transform: rotateZ(360deg);
        
    }
}
@keyframes zoom{
    to{
        transform: translateZ(500px);
    }
}
@keyframes float{
    50%{
        transform: translateY(-30vh);
    }
}
@keyframes throb{
    
    50%{
        transform: scale(1.2) rotateZ(15deg);

    }
}